/* html {
  scroll-snap-type: y proximity;
} */
/* body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}
.full-screen-div {
    width: 100vw;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
} */
body {
  background-color: #d0e2bc;
  font-family: "Outfit";
  min-height: 100vh;
}
/* section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-padding-top: 82px;
} */
 a {
    font-size:14px;
    font-weight:700
  }
  .form-control {
      outline:none !important;
      box-shadow: none !important;
      }
  @media screen and (max-width:900px){
    .centerOnMobile {
        text-align:center
        }
  }
  @media screen and (max-width: 327px) { 
  .logo { display: none; }  
  }

  .navbar {
      background-color: #F6F8E0;
  }

  .btn{
      background-color: #547D2E;
  }
  /* .dynamic-txts {
    text-align: center;
    font-family: monospace;
    font-size: 65px;
  } */
  .exploreMore {
    /* background-image: url("../public/images/landingpage.png"); */
    height:100vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* max-height: 100vh; */
    color: black;
    background-color: #F6F8E0;
    /* position:-webkit-sticky; */
    top: 250px;
    padding-top: 10%;
    padding-left: 0;
    /* left: 80px; */
    z-index: 9999;
    /* position: absolute; */
    /* position: relative; */
    /* padding:100px */
  }
  .exploreMore img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 100%;

  }
  /* .characters {
    object-fit: none;
  } */

  .msg1 {
    font-size: 2em;
    /* z-index: 9; */
  }
  .msg2 {
    font-size: 1.3em;
    /* z-index: 9; */
  }
  .msg3 {
    font-size: 2em;
    font-weight: bold;
    /* z-index: 9; */
  }
  .exploreMore button {
    display: inline-block;
    background-color: #547D2E;
    border: 1px solid transparent;
    padding: 12px 30px;
    border-radius: 30px;
    transition: all .55s ease;
    margin: 10px;
    color: white;
  }
  .exploreMore button:hover {
    background: #547D2E;
    opacity: 0.4;
    border: 1px solid black;
    transform: translateX(8px);

  }
  .transexploreMore {
    position: absolute;
    z-index: 1;
    top: 17vh;
    margin-right: 1vh;
    text-wrap: wrap;
  }

  .aboutUs {
    /* background-image: url("../public/images/hands-in-garden.jpg"); */
    background-color: #F6F8E0;
    background-size: 100%;
    min-height: 500px;
    position: relative;
    display: grid;
    align-items: center;
    gap: 2rem;
    padding: 15px 10% 5% 10%;
  }
  .aboutUsText {
    margin: 40px;
    line-height: 1.25;
    margin: 0 0 45px;
    color: black;
  }
  .aboutUsText p {
    margin-bottom: 30px;
    line-height: 1.25;
    margin: 0 0 30px;
    color: black;
  }
  
  .aboutUsText button {
    display: inline-block;
    background-color: #547D2E;
    border: 1px solid transparent;
    padding: 12px 30px;
    border-radius: 30px;
    transition: all .55s ease;
    margin: 10px;
  }
  .aboutUsText button:hover {
    background-color: #547D2E;
    opacity: 0.4;
    border: 1px solid black;
    transform: translateX(8px);
    color:white;

  }
  .aboutUsText a {
    color: white;
    text-decoration:none
  }
  .aboutUsText a.FaGarden {
    vertical-align: middle;
    margin-right: 5px;
  }
  .Facts {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  .factBox {
    border-radius: 30px;
    position: relative;
    width: 400px;
    height: 500px;
    overflow: hidden;
    background-color: black;
  }
  .factText {
    position: absolute;
    inset: 1px;
    z-index: 3;
    display: flex;
    justify-content: center;
  }
  .factText img {
    z-index: 3;
    border-radius: 30px;
    height: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;                
  }
  .factBox:hover .factText img {
    opacity: 20%;
  }
  .factBox .factText p {
    padding: 150px 30px;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    font-size: 1.25em;
    text-align: center;
    color: white;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.25em;
  }
  .Testimonials {
    background-color: #F6F8E0;
  }
  .TestimonialsTitle {
    text-transform: uppercase;
  }
  #carouselExampleControls {
    border-radius: 30px;
    background: white;
  }
  .carousel-inner {
    padding-top: 20px;
  }
  .carouText p {
    padding-left: 30px;
    padding-right: 30px;
  }

@media screen {
  .rowCarou {
    padding-left: 20%;
    padding-right: 20%;
    
  }
  /* #character1 {
    max-width: 400px; 
    height: auto;
    top: 72%; 
    left:66%;
    margin-right: 30px;

  } */

}
@media screen and (max-width: 768px) {
  .rowCarou {
    padding-left: 7%;
    padding-right: 7%;

  }
  
}
@media screen and (max-width: 576px) {
  .rowCarou {
    padding-left: 6%;
    padding-right: 6%;
  }

  /* #character1 {
    max-width: 65%; 
    height: auto;
    top: 74%; 
    left:66%;
    margin-right: 30px;
  } */
}
/* @media screen and (max-width: 280px) {

  #character1 {
    max-width: 65%; 
    height: auto;
    top: 74%; 
    left:66%;
    margin-right: 30px;

  }
} */
.Partners {
  padding: 3%;
}

#preloader{
  background: #d0e2bc url("../public/loader.gif") no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index:100;

}

